VITE_API_BASE_URL=https://api.soytiendita.store/api
VITE_TIENDITA_ACCOUNT_HOST=soytiendita.store
VITE_TRANSLATE_API_URL=https://translate.argosopentech.com/translate
# VITE_TRANSLATE_API_KEY=your_translate_api_key_here
